//////////////////////////////////////////////////////////////////////
// Buttons
//////////////////////////////////////////////////////////////////////

p.btn{
  border:1px solid $secondary;
  background-color:transparent;
  padding:7px 0;
  position: relative;
  border-radius:0;
  margin:0 20px 0 0px;
  -webkit-transition: all .1s ease;
  -moz-transition: all .1s ease;
  -o-transition: all .1s ease;
  transition: all .1s ease;
  a, span{
    color:$secondary;
    padding:7px 25px;
    position: relative;
    z-index: 10;
    text-transform: uppercase;
    font-size:14px;
    i{
      margin-left:0px;
      opacity:0;
      width:0;
    }
  }
  &:hover{
    background-color:rgba(#000,0.75);
    a, span{
      color:$secondary;
      padding-right:30px;
      text-decoration: none;
      i{
        opacity:1;
        margin-left:10px;
      }
    }
  }
}

p.btn-second{
  border:1px solid $secondary;
  background-color:$secondary;
  a{
    color:$primary;
  }
  &:hover{
    background-color:$primary;
    a{
      color:$secondary;
    }
  }
}

p.btn-ghost{
  background-color: transparent;
  a{

  }
  &:hover{
    a{
      color:$primary;
    }
  }
}
