.off-canvas-menu{
    width:100%;
    height:100%;
    position: fixed;
    left:0;
    top:0;
    z-index: 9999;
    display:none;
    .background{
        background-image: linear-gradient(to bottom, #c8c7c3 69%, #656565);
        position: absolute;
        right:0;
        top:0;
        width:60%;
        height:100%;
        z-index: 4;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @include media("<=md") {
            //position:relative;
            width:100%;
            height:20%;
            top:auto;
            bottom:0;
            background:transparent;
            background-image:'';
        }
        .plane-container{
            width:100%;
            height:100%;
            display:flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            overflow: hidden;
            @include media("<=md") {
                width:100%;
                height:100%;
            }
            h3{
                text-align: center;
                width:100%;
                text-transform: uppercase;
                padding-top:100px;
                @include media("<=md") {
                    display:none;
                }
            }
            .plane-image-container{
                position:relative;
                width:100%;
                .plane-image{
                    width:100%;
                    height:400px;
                    object-fit: cover;
                    object-position: left;
                    align-self: flex-start;
                    padding-left:50px;
                    position: relative;
                    z-index: 3;
                    @include media("<=md") {
                        display:none;
                    }
                    
                }
                &:after{
                    content:'';
                    width:100%;
                    height:25px;
                    background-color:black;
                    opacity:0.5;
                    position: absolute;
                    bottom:-25px;
                    left:0;
                    border-radius:100%;
                    filter:blur(15px);
                    z-index: 2;;
                }
            }
           
            .plane-image-placeholder{
                width:100%;
                height:400px;
            }
        }
    }
    .menu-container{
        width:40%;
        //min-width:620px;
        background-color:$primary;
        height:100%;
        padding:100px;
        position: relative;
        z-index: 2;
        overflow:hidden;
        background-size: cover;
        @include media("<=md") {
           min-width:auto;
           width:100%;
           padding:25px;
           height:100%;
        }
        .close-menu{
            display:flex;
            justify-content: flex-start;
            align-items: center;
            color:$secondary;
            position: relative;
            z-index: 3;
            .icon-container{
                width:50px;
                height:50px;
                border:1px solid white;
                display:flex;
                justify-content: center;
                align-items: center;
            }
            p{
                margin-bottom:0;
                text-transform: uppercase;
                padding-left:14px;
                font-size:14px;
                
            }
            &:hover{
                cursor: pointer;
                p{
                    //padding-left:15px;
                }
                .icon-container{
                    svg{
                        transform: scale(1.2);
                    }
                }
            }
        }
        .fleet-menu{
            display:flex;
            flex-direction: column;
            align-items: flex-end;
            text-transform: uppercase;
            position: relative;
            z-index: 3;
            h5{
                margin-top:50px;
                margin-bottom:60px;
                color:$secondary;
                text-align: right;
            }
            p{
                font-size:14px;
                position: relative;
                text-align: right;
                &:after{
                    content:'';
                    position: absolute;
                    left:0;
                    bottom:0;
                    height:2px;
                    width:0%;
                    background-color:white;
                    @include transition(0.5s);
                }
                &:hover{
                    cursor: pointer;
                    &:after{
                       //width:100%;
                    }
                }
                span{
                    color:$offwhite;
                    &:hover{
                        text-decoration: none;
                        color:$secondary;
                        cursor: pointer;
                    }
                }
                &.active{
                    span{
                        color:$secondary;
                    }
                    &:after{
                       // width:100%;
                    }
                }
            }
        }
    }
}

.change-plane{
    .title{
        animation-name: fadeAndMove;
        animation-duration: 2.5s;
    }
    .plane-image-container{
        animation-name: fadeAndMoveLeft;
        animation-duration: 2.5s;
        transition-timing-function: ease-in-out;
    }
    .btn{
        animation-name: fadeAndMove;
        animation-duration: 2.5s; 
    }
}

  @keyframes fadeAndMove{
    0% {
        opacity:1;
        margin-top:0;
    }
    25% {
        opacity:0;
        margin-top:0px;
    }
    70%{
        opacity:0;
        margin-top:50px;
    }
    95%{
        opacity:1;
        margin-top:0;
    }
  }

  @keyframes fadeAndMoveLeft{
    0% {
        opacity:1;
        padding-left:0;
    }
    25% {
        opacity:0;
        padding-left:100%;
    }
    60%{
        opacity:0;
        padding-left:100%;
    }
    100%{
        opacity:1;
        padding-left:50px;
    }
  }