.single-plane{
    background-image: linear-gradient(to bottom, #c8c7c3 39%, #656565)!important;
    main{
        display:flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        h1{
            text-align: center;
            color:#444
        }
        .plane-image-container{
            position: relative;
            img{
                width:100%;
                height:300px;
                object-fit: contain;
                object-position: center;
                margin:0 auto;
            }
            &:after{
                content:'';
                    width:100%;
                    height:25px;
                    background-color:black;
                    opacity:0.5;
                    position: absolute;
                    bottom:0px;
                    left:0;
                    border-radius:100%;
                    filter:blur(15px);
                    z-index: 2;;
            }
            
        }
        .button-group{
            margin-top:50px;
        }
        .prev-next-plan-links{
            width:100%;
            z-index: 0;
            .prev-link{
                left:0;
                
            }
            .next-link{
                
                right:0;
                
            }
            .prev-link, .next-link{
                height:50px;
                width:50px;
                border:1px solid $secondary;
                position: absolute;
                top:50%;
                a{
                    display:flex;
                    height:50px;
                    justify-content: center;
                    align-items: center;
                    color:$secondary;
                    &:hover{
                        text-decoration: none;;
                    }
                }
                &:hover{
                    background-color:rgba(#000,0.5);
                }
            }
        }
    }
    
    .off-canvas-specs{
        position: fixed;
        top:0;
        left:0;
        width:100%;
        min-height:100%;
        background-color:$primary;
        z-index: 9999;
        display:none;
        @include media("<=md") {
            
        }
        .close-bar{
            width:100%;
            
            background-color:$offwhite;
            position: relative;
            z-index: 3;
            @include media("<=md") {
                background-color:$primary;
            }
            .container{
                display:flex;
                justify-content: flex-end;
                align-items: center;
                color:$primary;
                height:150px;
                @include media("<=md") {
                    height:75px;
                    color:$secondary;
                }
                .close-button{
                    display:flex;
                    justify-content: flex-start;
                    align-items: center;
                    .icon-container{
                        width:50px;
                        height:50px;
                        border:1px solid $primary;
                        display:flex;
                        justify-content: center;
                        align-items: center;
                        svg{
                            *{
                                stroke:$primary!important;
                            }
                        }
                    }
                    p{
                        margin-bottom:0;
                        text-transform: uppercase;
                        padding-left:15px;
                    }
                    &:hover{
                        cursor: pointer;
                        .icon-container{
                            svg{
                                transform: scale(1.2);
                            }
                        }
                    }
                }
            }
        }
        .specifications-gallery{
            padding-top:120px;
            padding-bottom:120px;
            color:$secondary;
            @include media("<=md") {
                padding-top:35px;
            }
            .container{
                display:flex;
                justify-content: space-between;
                align-items: flex-start;
                @include media("<=md") {
                    flex-direction: column;
                }
            }
            h3{
                text-transform: uppercase;
                margin-bottom:30px;
            }
            .specification-features{
                width:50%;
                @include media("<=md") {
                    width:100%;
                }
                .specifications{
                    margin-bottom:30px;
                    max-width:350px;
                    @include media("<=md") {
                        max-width:none;
                    }
                    > p{
                        color:$offwhite;
                    }
                    .spec-container{
                        border:1px solid $secondary;
                        padding:5px;
                        display:flex;
                        padding:12px;
                        .icon{
                            margin-right:12px;
                            width:35px;
                            padding-top:5px;
                            i{
                                font-size:30px;
                            }
                        }
                        p{
                            margin-bottom:0;
                            font-size:15px;
                            text-transform: uppercase;
                            &:first-of-type{
                                color:$offwhite;
                                font-size:13px;
                                text-transform: capitalize;
                            }
                        }
                    }
                }
                .features{
                    display:flex;
                    flex-wrap: wrap;
                    .feature-container{
                        width:50%;
                        p{
                            font-size:15px;
                            &:first-of-type{
                                color:$offwhite;
                                margin-bottom:0;
                            }
                        }
                    }
                }
            }
            .gallery-container{
                width:50%;
                position: relative;
                @include media("<=md") {
                    width:100%;
                }
                .gallery{
                    img{
                        max-width:100%;
                    }
                    @include media("<=md") {
                        display:none;
                    }
                }
                .view-full{
                    position: absolute;
                    bottom:0;
                    right:0;
                    width:50px;
                    height:50px;
                    border:1px solid $secondary;
                    z-index: 999;
                    display:flex;
                    justify-content: center;
                    align-items: center;
                    @include media("<=md") {
                        position: relative;
                        width:auto;
                        &:after{
                            content:'View Gallery';
                        }
                    }
                    i{
                        font-size:20px;
                        @include media("<=md") {
                            margin-right:7px;  
                        }
                    }
                    &:hover{
                        cursor: pointer;
                        background-color:$secondary;
                        i{
                            color:$primary;
                        }
                    }
                }
                
            }
        }
    }
}

.gallery-full-screen{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    z-index: 9999999;
    display:none;
    background-color:$primary;
    padding:75px;
    .close-full{
        position: absolute;
        top:0;
        left:0;
        width:50px;
        height:50px;
        border:1px solid $secondary;
        z-index: 999;
        display:flex;
        justify-content: center;
        align-items: center;
        i{
            font-size:20px;
        }
        &:hover{
            cursor: pointer;
        }
    }
    .gallery-controls{
        display:flex;
        justify-content: space-between;
        align-items: center;
        width:calc(100% - 150px);
        position: absolute;
        top:calc(50% - 25px);
        left:75px;
        z-index: 99;
        .prev, .next{
            border:1px solid white;
            height:50px;
            width:50px;
            display:flex;
            justify-content: center;
            align-items: center;
            &:hover{
                background-color:rgba(#fff,0.3);
                cursor: pointer;
            }
        }
    }
    .gallery{
        max-height:100%;
        overflow-y: hidden;
    }
}