//////////////////////////////////////////////////////////////////////
// Wrapper Template
//////////////////////////////////////////////////////////////////////
.wrapper{
  :not(.off-canvas-menu, .off-canvas-contact, .off-canvas-specs, .gallery-full-screen){
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear;
  }
  main{
    min-height:100vh;
    padding-bottom:50px;
    color:white;
  }
}
